* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.mypic img {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: animate 8s ease-in-out infinite 0.004s;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/60% 30% 70% 40%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
    color: antiquewhite;
    background-color: aliceblue;
}

.navbar {
    padding: 10px 10%;
    color: aqua;
    background-color: #1a5765;
}

.auto-type {
    color: yellow;
}

.logo {
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
}

.logo span {
    color: turquoise;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: turquoise;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin: 20%;
    font-size: 30px;
    text-align: center;
}
.header-text p{
    text-align: center;
}
.introimage {
    display: flex;
    justify-content: space-between;
    flex-basis: 35%;
}

.introimage img {
    width: 100%;
    border-radius: 15px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.header-text h3 {
    font-size: 20px;
    text-align: center;
}

.header-text h1 span {
    color: #ff004f;
    font-weight: 200;
}

#about {
    padding: 80px 10%;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    color: #fff;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.tabtitles {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 5000;
    cursor: pointer;
    position: relative;
}

.about-col-2 h1 {
    color: navy;
    font-family: 'Poppins', sans-serif;
}

.about-col-2 p {
    font-size: 19px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.about-col-2 p a {
    font-size: 20px;
    color: #ff004f;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

#education h1 {
    padding: 40px;
    text-align: center;
    color: navy;
    font-family: 'Poppins', sans-serif;
}

.rowedu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.educol1 {
    flex-basis: 47.5%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.educol1 h2 {
    color: white;
}

.educol2 {
    flex-basis: 47.5%;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.educol2 h2 {
    color: white;
}

.rowedu p {
    font-size: 18px;
    color: white;
    text-align: center;
}
.rowedu p a{
    color: white;
}
#skills {
    padding: 40px 10%;
    font-family: monospace;
    text-align: center;
}

.rowskill {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.skillcol1, .skillcol2, .skillcol3 {
    text-align: center;
    color: rgb(50, 151, 117);
    list-style: none;
    align-items: center;
}

.skillcol1, .skillcol2 {
    flex-basis: 47.5%;
}

.skillcol3 {
    flex-basis: 100%;
}

.rowskill ul li {
    list-style: none;
    text-align: center;
    font-size: 18px;
    color: white;
}

#contact h1 {
    padding: 40px;
    text-align: center;
    color: navy;
    font-family: 'Poppins', sans-serif;
}

.rowcon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.conleft {
    flex-basis: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ff004f;
}

.conleft p {
    margin: 50px;
}

.conleft h2 {
    font-size: 35px;
    margin: 20px 50px;
}

.conleft h4 {
    text-decoration: none;
    color: red;
    margin: 50px;
    text-align: center;
}

.email {
    color: #ff004f;
    font-size: 20px;
    text-align: center;
}

.contactme {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.conright {
    flex-basis: 0%;
    text-align: left;
}

.conright img {
    width: 60%;
    border-radius: 15px;
}

.conright p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 29, 29);
    width: 300px;
    border: 1px solid;
    padding: 50px;
    margin: 20px;
}

.rowedu p a {
    text-decoration: none;
    color: turquoise;
}

.social  a {
    font-size: 50px;
    color: #ff004f;
    text-decoration: none;
    margin: 30px;
}

.copyright {
    text-align: center;
    color: green;
    margin-top: 20px;
}

#projects h1 {
    padding: 40px;
    text-align: center;
    color: lightgreen;
    font-family: 'Poppins', sans-serif;
}

.compskills {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.compskills h1 {
    color: navy;
}

.compskills p {
    margin: 50px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.compskills a{
    margin: 50px;
}
.compskills h3 {
    color: palevioletred;
}
.jumping-resume {
    display: inline-block;
    position: relative;
    animation: jump 1s infinite;
}
.resumecontainer{
    text-align: center;
}
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.icon-container {
    display: inline-block;
    margin-right: 20px;
    animation: popjump 1s infinite alternate;
}

@keyframes popjump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
#internships{
    padding: 40px;
    text-align: center;
    color: navy;
    font-family: 'Poppins', sans-serif;
}
#internships h2, h3,h4, p{
    color: white;
    text-align: center;
}
#internships p{
    color: white;
    font-size: 20px;
    text-align: center;
}
